*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Scope One', serif;
}
body{
    font-size: 1rem;
    font-family: 'Roboto' sans-serif;
}
a{
    text-decoration: none;
}

